<div class="container mt-4">
    <h2 class="text-center">Harry Potter Spells</h2>

    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Spell Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @for (spell of spells; track spell) {
            <tr>
                <td>{{ spells.indexOf(spell) + 1 }}</td>
                <td>{{ spell.id }}</td>
                <td>{{ spell.name }}</td>
                <td>{{ spell.description }}</td>
            </tr>
            }
        </tbody>
    </table>
</div>