.flag {
  width: 300px;
  height: 180px;
  background-color: #006A4E;
  position: relative;
  /* border: 2px solid black; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 60px;
}